/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'M PLUS Code Latin', sans-serif;
}

/* mobile first 480px*/

/* ESTILO DE LA PAGINA INDEX */
/* layout */
.home {
    width: 100%;
    display: grid;
    grid-template-areas: 
    "header header"
    "main main"
    "part1 part1"
    "part2 part2"
    "part3 part3"
    "part4 part4"
    "part5 part5"
    "footer footer";
}

/* header */
header {
    grid-area: header;
}

.navbar-brand h2 {      /* global */
    font-weight: bold;
}

/* main */
main {
    grid-area: main;
}

main div {
    position: relative;
}

main div h1 {
    position: absolute;
    top: 45%;
    left: 8.5rem;
    color: white;
}

.p-principal {
    position: absolute;
    top: 30%;
    left: 8rem;
    font-style: italic;
    color: white;
}

.p2-principal {
    position: absolute;
    top: 65%;
    left: 1.3rem;
    font-style: italic;
    color: white;
}

.img-principal {        /* global */
    width: 100%;
}

.btn-container {
    position: absolute;
    top: 80%;
    left: 7.5rem;
    border: 2px solid yellowgreen;
    background-color: #9acd32;
    color: #9acd32;
}

.btn-container a {
    font-weight: bold;
}

.btn-container2 {
    display: none;
}

/* Seccion sobre mi */
.sobre-mi {
    grid-area: part1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

.sobre-mi h4 {
    font-weight: bold;
    margin-bottom: 1rem;
}

.sobre-mi span {
    color: yellowgreen;
}

.sobre-mi p {
    width: 25rem;
}

.sobre-mi div {
    margin-top: 1rem;
}

.tecno {
    display: flex;
}

.img-personal1 {
    width: 16rem;
    border-radius: 10rem;
    box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.181);
}

/* seccion experiencia */
.experiencia {
    grid-area: part2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.experiencia h4 {
    font-weight: bold;
}

.experiencia span {
    color: yellowgreen;
}

.experiencia p {
    margin-top: 1rem;
}

.experiencia ul {
    width: 25rem;
}

/* seccion proyectos */
.proyectos {
    grid-area: part3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.proyectos h4 {
    font-weight: bold;
}

.proyectos h5 {
    font-weight: bold;
    margin-left: 1.5rem;
}

.proyectos span {
    color: yellowgreen;
}

.carousel {
    width: 25rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.d-block {
    height: 19rem;
    width: auto;
}

.proyectos p {
    margin-top: 1rem;
    width: 25rem;
}

.btn-ver-proyectos {
    border: 2px solid yellowgreen;
}

.btn-ver-mas-proyectos {
    display: none;
}

.btn:hover {
    background-color: yellowgreen;
}

/* seccion contactame */
.contactame {
    grid-area: part4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactame h4 {
    font-weight: bold;
}

.contactame span {
    color: yellowgreen;
}

.contactame h5 {
    color: yellowgreen;
    font-weight: bold;
    margin-top: 1rem;
}

.contactame p {
    width: 25rem;
}

.btn-contactame {
    border: 2px solid #9acd32;
    margin-top: 1rem;
}

/* seccion redes sociales */ /* global */
.redes-sociales1 {
    grid-area: part5;
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
}

.redes-sociales {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
}

.bi-github {
    font-size: x-large;
    width: 2rem;
    height: 2rem;
    color: yellowgreen;
}

.bi-twitter {
    font-size: x-large;
    width: 2rem;
    height: 2rem;
    color: yellowgreen;
}

.bi-facebook {
    font-size: x-large;
    width: 2rem;
    height: 2rem;
    color: yellowgreen;
}

.bi-linkedin {
    font-size: x-large;
    width: 2rem;
    height: 2rem;
    color: yellowgreen;
}

.bi-instagram {
    font-size: x-large;
    width: 2rem;
    height: 2rem;
    color: yellowgreen;
}
/* footer */        /* global */
footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 7rem;
}

footer h3 {
    font-weight: bold;
}

footer h3 a {
    text-decoration: none;
    color: #9acd32;
}


/* ------  HTML SOBRE MI ------ */
.pagina-sobre-mi {
    display: grid;
    grid-template-areas: 
    "header header"
    "main main"
    "p1 p1"
    "img img"
    "redes redes"
    "footer footer";
    width: 100%;
}

/* seccion header */
.pagina-sobre-mi header {
    grid-area: header;
}

/* seccion main */
.pagina-sobre-mi main {
    grid-area: main;
}

.titulo-sobreMi {
    position: absolute;
    color: white;
    top: 8rem;
    left: 12rem;
    z-index: 1;
}

.p-sobreMi {
    position: absolute;
    color: white;
    top: 12rem;
    left: 2rem;
    width: 25rem;
    z-index: 1;
}

/* seccion descrpcion */
.descripcion {
    grid-area: p1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.descripcion-p1 {
    margin-top: 1rem;
    width: 25rem;
}

.descripcion-p2 {
    margin-top: 2rem;
    width: 25rem;
}

/* seccion galeria */
.galeria {
    grid-area: img;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    width: 30rem;
}

/* reddes sociales */
.redes-sociales {
    grid-area: redes;
}

/* seccion footer */
.pagina-sobre-mi footer {
    grid-area: footer;
}


/* ------  HTML EXPERIENCIA ------ */
.html-experiencia {
    width: 100%;
    display: grid;
    grid-template-areas: 
    "header header"
    "main main"
    "exp1 exp1"
    "exp2 exp2"
    "redes redes"
    "foot foot";
}

/* seccion header */
.html-experiencia header {
    grid-area: header;
}

/* main */
.html-experiencia main {
    grid-area: main;
}

.titulo-experiencia {
    position: absolute;
    top: 6rem;
    left: 10rem;
    z-index: 1;
    color: whitesmoke;
}

.p-experiencia {
    position: absolute;
    top: 10rem;
    left: 2.5rem;
    width: 25rem;
    color: whitesmoke;
    font-style: oblique;
    z-index: 1;
}

/* seccion exp1 */
.experiencia-Uno {
    grid-area: exp1;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.experiencia-Uno h2 {
    margin-bottom: 1rem;
}

.experiencia-Uno p {
    margin-top: 21rem;
    width: 25rem;
}


.img-experiencia-Uno {
    width: 25rem;
    top: 4rem;
    left: 3rem;
    position: absolute;
}

/* seccion exp2 */
.experiencia-Dos {
    grid-area: exp2;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.experiencia-Dos h2 {
    margin-bottom: 1rem;
}

.experiencia-Dos p {
    margin-top: 21rem;
    width: 25rem;
}

.img-experiencia-dos {
    width: 25rem;
    top: 4rem;
    left: 3rem;
    position: absolute;
}

.redes-sociales {
    grid-area: redes;
}

/* seccion footer */
.html-experiencia footer { 
    grid-area: foot;
}

/* PAGINA PROYECTO */
.pagina-proyectos {
    width: 100%;
    grid-template-areas: 
    "header header"
    "main main"
    "part1 part1"
    "part2 part2"
    "footer footer";
}

/* seccion haeader */
.pagina-proyectos header {
    grid-area: header;
}

/* seccion main */
.pagina-proyectos main {
    grid-area: main;
}

.titulo-proyecto {
    position: absolute;
    top: 8rem;
    left: 10rem;
    z-index: 1;
    color: whitesmoke;
}

.btn-container2 {
    display: none;
}

.p-proyecto {
    position: absolute;
    top: 13rem;
    left: 2rem;
    width: 25rem;
    z-index: 1;
    color: whitesmoke;
}

/* seccion Proyecto importante */
.p-importantes {
    grid-area: part1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.p-importantes h2 {
    margin-top: 2rem;
    font-weight: bold;
}

.p-importantes span {
    color: #9acd32;
}

.p-importantes p {
    margin-top: 1rem;
    width: 25rem;
}

.img-proyectos-importantes {
    border: 1px solid;
}
.btn-proyectos-importantes {
    border: 2px solid #9acd32;
    margin-top: 1rem;
}

/*  seccion otros-proyectos */
.otros-proyectos {
    grid-area: part2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.otros-proyectos h2 {
    font-weight: bold;
    margin-top: 4rem;
}

.otros-proyectos span {
    color: #9acd32;
}

.otros-proyectos h3 {
    font-weight: bold;
    margin-top: 1rem;
}

/* div de las card 1, 2, 3 */
.imp1 {
    display: flex;
    flex-flow:wrap ;
    justify-content: center;
    margin-top: 1rem;
}

/* div de las card 4, 5, 6 */
.imp2 {
    display: flex;
    flex-flow:wrap ;
    justify-content: center;
    margin-top: 1rem;
}

.btn-otros-proyectos {
    width: 10rem;
    border: 2px solid #9acd32;
    margin-top: 2rem;
    margin-bottom: 5rem;
}
/* seccion footer */
.pagina-proyectos footer {
    grid-area: footer;
}

/* ------  HTML CONTACTO ------ */
.pagina-contacto {
    width: 100%;
    display: grid;
    grid-template-areas: 
    "header header"
    "main main"
    "social formulario"
    "social formulario"
    "footer footer";
}

/* seccion header */
.pagina-contacto header {
    grid-area: header;
}

/* seccion main */
.pagina-contacto main {
    grid-area: main;
}

.pagina-contacto main h1 {
    position: absolute;
    top: 7rem;
    left: 9rem;
    color: whitesmoke;
    z-index: 1;
}

.btn-container-contacto {
    position: absolute;
    top: 12rem;
    left: 10rem;
    z-index: 1;
    background-color: #9acd32;
    border: 2px solid #9acd32;
}

/* seccion social */
.section-social {
    grid-area: social;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-social h2 {
    margin-top: 2rem;
}

.redes1 {
    margin-top: 1rem;
}

.redes2 {
    margin-top: 1rem;
}

/* seccion formulario */
.formulario {
    grid-area: formulario;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.formulario h2 {
    margin-top: 4rem;
}

.form {
    margin-top: 2rem;
}

/* seccion footer */
.pagina-contacto footer {
    grid-area: footer;
    display: flex;
    justify-content: center
}

.pagina-contacto footer p {
    padding-left: 0;

}


@media screen and (min-width:1440px) {
    /* PAGINA INDEX */
    /* contenedor de la home */
    .home {
        grid-template-areas: 
        "header header header header"
        "main main main main"
        "part1 part1 part1 part1"
        "part2 part2 part2 part2"
        "part3 part3 part3 part3"
        "part4 part4 part4 part4"
        "part5 part5 part5 part5"
        "footer footer footer footer";
    }

    main div h1 {
        left: 38rem;
    
    }

    .p-principal {
        left: 34rem;
    }

    .p2-principal {
        left: 30rem;
    }

    .img-principal {
        height: 52rem;
    }

    .btn-container {
        left: 39rem;
    }

     /* seccion sobre mi */
    .sobre-mi {
        position: relative;
        align-items: baseline;
    }

    .sobre-mi h4 {
        margin-top: 3rem;
        margin-bottom: 1rem;
        margin-left: 20rem;
    }

    .img-personal1 {
        top: 2rem;
        position: absolute;
        right: 15rem;  
    }

    .sobre-mi p {
        width: 30%;
        margin-left: 23rem;
    }

    .tecno {
        margin-left: 23rem;
    }

    /* seccion experiencia */
    .experiencia {
        display: grid;
        grid-template-areas: 
        "h3"
        "p"
        "ul";
    }

    .experiencia h4 {
        grid-area: h3;
        height: 3rem;
        margin-top: 4rem;
        padding-left: 26.5%;
    }

    .experiencia p {
        grid-area: p;
        width: 45%;
        margin-left: 30%;
    }
    
    .experiencia ul {
        grid-area: ul;
        width: 45%;
        margin-left: 30%;
    }

    /* seccion proyectos */
    .proyectos {
        position: relative;
        align-items: baseline;
        height: 28rem;
    }

    .proyectos h4 {
        padding-left: 15rem;
    }

    .proyectos h5 {
        position: absolute;
        top: 5rem;        
        margin-left: 20rem;
    }

    .proyectos p {
        width: 20rem;
        top: 6rem;
        left: 22rem;
        position: absolute;
    }

    .carousel {
        margin-left: 45rem;
        width: 25rem;
    }
    
    .d-block {
        height: auto;
        width: auto;
    }
    .image1 {
        height: auto;
        width: auto;
    }


    .btn-ver-proyectos {
        position: absolute;
        top: 12rem;
        left: 21rem;
    }

    .btn-ver-mas-proyectos {
        display: block;
        border: 2px solid yellowgreen;
        position: absolute;
        top: 24rem;
        left: 45rem;
        margin-bottom: 3rem;
    }

    /* seccion contactame */
    .contactame h4 {
        margin-top: 1rem;
    }

    .contactame p {
        width: 50rem;
        margin-top: 1rem;
    }

    .btn-contactame {
        margin-top: 1rem;
    }

    /* -------------- PAGINA SOBRE MI -------------- */
    .titulo-sobreMi {
        top: 18rem;
        left: 38rem;
    }

    .p-sobreMi {
        top: 28rem;
        left: 30rem;
        width: 30rem;
    }

    .row {
        width: 60rem;
    }

    /* seccion descrpcion */
    .descripcion-p1 {
        margin-top: 1rem;
        width: 50rem;
    }

    .descripcion-p2 {
        margin-top: 1rem;
        width: 50rem;
    }

    /* seccion galeria */
    .sobreMi-img1 {
        height: 16rem;
        width: auto;
        margin: 1px;
    }
    
    .sobreMi-img2 {
        height: 16rem;
        width: auto;
        margin: 1px;
    }
    
    .sobreMi-img3 {
        height: 16rem;
        width: auto;
        margin: 1px;
    }
    
    .sobreMi-img4 {
        height: 26rem;
        width: auto;
        margin: 1px;
    }
    
    .sobreMi-img5 {
        height: 26rem;
        width: auto;
        margin: 1px;
    }

    /* ------  HTML EXPERIENCIA ------ */
    .titulo-experiencia {
        top: 18rem;
        left: 38rem;
    }

    .p-experiencia {
        top: 28rem;
        left: 30rem;
        width: 30rem;
    }
    
    /* seccion exp1 */
    .experiencia-Uno {
        flex-direction: row;
        align-items: flex-start;
    }

    .experiencia-Uno h2 {
        font-weight: bold;
        padding-top: 3rem;
        margin-left: 2rem;
    }

    .experiencia-Uno p {
        margin-top: 0;
        margin-left: 2rem;
        padding-top: 4rem;
        width: 30rem;
    }
    
    .img-experiencia-Uno {
        width: 20rem;
        top: 2rem;
        left: 60rem;
        border: 2px solid;
    }

    /* seccion exp2 */
    .experiencia-Dos {
        flex-direction: row;
        align-items: flex-start;
    }

    .experiencia-Dos h2 {
        font-weight: bold;
        padding-top: 3rem;
        margin-left: 2rem;
    }

    .experiencia-Dos p {
        margin-top: 0;
        padding-top: 4rem;
        margin-left: 3rem;
        width: 30rem;
    }

    .img-experiencia-dos {
        width: 20rem;
        top: 2rem;
        left: 60rem;
        border: 2px solid;
    }

    .redes-exp {
        margin-top: 10rem;
    }

    /* PAGINA PROYECTO */
    .titulo-proyecto {
        top: 18rem;
        left: 38rem;
    }

    .p-proyecto {
        top: 28rem;
        left: 29rem;
        width: 30rem;
    } 
    
    /* seccion Proyecto importante */
    .p-importantes {
        align-items: baseline;
        position: relative;
        height: 24rem;
    }
    
    .p-importantes h2 {
        margin-top: 2rem;
        margin-left: 5rem;
    }
        
    .p-importantes p {
        position: absolute;
        top: 8rem;
        left: 8rem;
        width: 30rem;
    }
    
    .img-proyectos-importantes {
        position: absolute;
        right: 5rem;
        width: 30rem;
    }
    .btn-proyectos-importantes {
        top: 14rem;
        left: 8rem;
        position: absolute;
    } 

    /* ------  HTML CONTACTO ------ */ 
    .pagina-contacto main h1 {
        top: 18rem;
        left: 38rem;
    }

    .btn-container-contacto {
        top: 28rem;
        left: 41 rem;
    }
    /* seccion social */
    .section-social h2 {
        margin-top: 4rem;
    }

    .redes1 {
        margin-top: 1rem;
    }

    .redes2 {
        margin-top: 1rem;
    }

    .bi-instagram {
        font-size: xx-large;
        margin: 1rem;
    }
    
    .bi-linkedin {
        font-size: xx-large;
        margin: 1rem;
    }
    
    .bi-github {
        font-size: xx-large;
        margin: 1rem;
    }
    
    .bi-twitter {
        font-size: xx-large;
        margin: 1rem;
    }
    
    .bi-facebook {
        font-size: xx-large;
        margin: 1rem;
    }

    /* seccion formulario */
    .btn-enviar {
        border: 2px solid #9acd32;
        width: 6rem;
        background-color: #9acd32;
    }



}