/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'M PLUS Code Latin', sans-serif;
}


@import "base/mixins";
@import "base/variables";
@import "base/extend";


// mobile first 480px
/* ESTILO DE LA PAGINA INDEX */
.home {
    @include home;
    // header
    header { 
        grid-area: header;
        @extend %Logo;
    }
    // main 
    main {
        grid-area: main;
        div {
             position: relative;
             .p-principal {
                position: absolute;
                top: 30%;
                left: 8rem;
                font-style: italic;
                color: $color-texto;
                @extend %z-index;
                @include text-shadow;
            }
            h1 {
                position: absolute;
                top: 45%;
                left: 8.5rem;
                color: $color-texto;
                @extend %z-index;
                @include text-shadow;
            }
            .p2-principal {
                position: absolute;
                top: 65%;
                left: 1.3rem;
                font-style: italic;
                color: $color-texto;
                @extend %z-index;
                @include text-shadow;
            }
            @extend %width-img;
            .btn-container {
                position: absolute;
                top: 80%;
                left: 7.5rem;
                @extend %botones;
                a {
                    @include font-weight;
                }
            }
        }
        
    }
    // Seccion sobre mi 
    .sobre-mi {
        grid-area: part1;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 1rem;
        h4 {
            @include font-weight;
            margin-bottom: 1rem;
            span {
                color: $color-general;
            }
        }
        p {
            width: 25rem;
        }
        div {
            margin-top: 1rem;
            display: flex;
        }
        div {
            img {
                width: 16rem;
                border-radius: 10rem;
                @include box-shadow;
            }
        }
    
    }    
    // seccion experiencia 
    .experiencia {
        grid-area: part2;
        display: flex;
        flex-direction: column;
        align-items: center;
        h4 {
            @include font-weight;
            span {
                color: $color-general; 
            }
        }
        p {
            margin-top: 1rem;
        }
        ul {
            width: 25rem;
        }
    }
    // seccion proyectos 
    .proyectos {
        grid-area: part3;
        display: flex;
        flex-direction: column;
        align-items: center;
        h4 {
            @include font-weight;
        }
        .carousel {
            width: 25rem;
            margin-top: 1rem;
            margin-bottom: 2rem;
            .d-block {
                height: 19rem;
                width: auto;
            }
        }
        h5 {
            @include font-weight; 
            margin-left: 1.5rem;
            span {
                color: $color-general;
            }
        }
        p {
            margin-top: 1rem;
            width: 25rem;
        }
        .btn-ver-proyectos {
            @extend %botones;
        }
        .btn-ver-mas-proyectos {
            display: none;
        }
        @extend %btn:hover;
    }
    // seccion contactame
    .contactame {
        grid-area: part4;
        display: flex;
        flex-direction: column;
        align-items: center;
        h4 {
            @include font-weight;
            span {
                color: $color-general;
            }
        }
        h5 {
            color: $color-general;
            @include font-weight;
            margin-top: 1rem;
        }
        p {
            width: 25rem;
        }
        .btn-contactame {
            @extend %botones;
            margin-top: 1rem;
        }
    }
    // seccion redes sociales 
    .redes-sociales {
        grid-area: part5;
        @include redes-sociales;
        @extend %redes-sociales;
    }
    // footer        
    footer {
        grid-area: footer;
        @include Footer;
    }

}






/* ------  HTML SOBRE MI ------ */
.pagina-sobre-mi {
    @include pagina-sobre-mi;
    // seccion header 
    header {
        grid-area: header;
        @extend %Logo;
    }
    // seccion main 
    main {
        grid-area: main;
        h1 {
            position: absolute;
            top: 10rem;
            left: 12rem;
            color: $color-texto;
            @extend %z-index;
            @include text-shadow;
        }
        @extend %width-img;
    }
    // seccion descrpcion
    .descripcion {
        grid-area: p1;
        display: flex;
        flex-direction: column;
        align-items: center;
        p {
            margin-top: 1rem;
            width: 25rem;
        }
        
    }
    // seccion galeria 
    .galeria {
        grid-area: img;
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        div {
            width: 30rem;
        }
    }
    // seccion redes sociales 
   
    .redes-sociales { 
        grid-area: redes;
        @include redes-sociales;
        @extend %redes-sociales;
    }
    // footer       
    footer {
        grid-area: footer;
        @include Footer;
    }
}



/* ------  HTML EXPERIENCIA ------ */
.html-experiencia {
    @include html-experiencia;
    // seccion header 
    header {
        grid-area: header;
        @extend %Logo;
    }
    // main 
    main {
        grid-area: main;
        h1 {
            position: absolute;
            top: 8rem;
            left: 10rem;
            color: $color-texto;
            @extend %z-index;
            @include text-shadow;
        }
        p {
            position: absolute;
            top: 12rem;
            left: 4.5rem;
            width: 20rem;
            text-align: center;
            font-style: oblique;
            color: $color-texto;
            @extend %z-index;
            @include text-shadow;
        }
        @extend %width-img;
    }
    // seccion exp1 
    .experiencia-Uno {
        grid-area: exp1;
        @include parrafos-exp;   
        
    }
    // seccion exp2 
    .experiencia-Dos {
        grid-area: exp2;    
        @include parrafos-exp; 
    }   
    // seccion redes sociales  
   
    .redes-sociales {
        grid-area: redes;
        @include redes-sociales;
        @extend %redes-sociales;
    }
    // footer         
    footer {/* global */
        grid-area: foot;
        @include Footer;
    }
}






/* ------------ PAGINA PROYECTO -------------- */
.pagina-proyectos {
    @include pagina-proyectos;
    // seccion haeader
    header {
        grid-area: header;
        @extend %Logo;
    }
    main {
        grid-area: main;
        h1 {
            position: absolute;
            top: 8rem;
            left: 10rem;
            color: $color-texto;
            @extend %z-index;
            @include text-shadow;
        }
        p {
            position: absolute;
            top: 12rem;
            left: 4.5rem;
            width: 20rem;
            text-align: center;
            color: $color-texto;
            @extend %z-index;
            @include text-shadow;
        }
        @extend %width-img;
    }
// seccion Proyecto importante 
    .p-importantes {
        grid-area: part1;
        display: flex;
        flex-direction: column;
        align-items: center;
        h2 {
            margin-top: 2rem;
            @include font-weight;
            span {
                color: $color-general;
            }
        }
        p {
            margin-top: 1rem;
            width: 25rem;
        }
        div {
            img {   
                border: 1px solid;
            }
        }
        div {
            a {
                @extend %botones;
                margin-top: 1rem;
                color: black;
            }
        }
    }
//  seccion otros-proyectos 
    .otros-proyectos {
        grid-area: part2;
        display: flex;
        flex-direction: column;
        align-items: center;
        h2 {
            @include font-weight;
            margin-top: 4rem;
            span {
                color: $color-general;
            }
        }
        h3 {
            @include font-weight;
            margin-top: 1rem;
        }
        div {
            .imp1 {
                display: flex;
                flex-direction: column;
                align-items: center;
                .card {
                    margin: 1rem;
                    display: flex;
                    align-items: center;
                    @extend %btn-card;
                }
            }            
        }
        div {
            .imp2 {
                display: none;
            }            
        }
        .btn-otros-proyectos {
            .btn {
                width: 10rem;
                margin-top: 2rem;
                margin-bottom: 5rem;  
                @extend %botones;
                color: black;
            }
        }
    }
    //seccion redes sociales
    .redes-sociales {
        grid-area: redes;
        @include redes-sociales;
        @extend %redes-sociales;
    }
    // footer         
    footer {
        grid-area: footer;
        @include Footer;
    }

}

/* ------  HTML CONTACTO ------ */
.pagina-contacto {
    @include pagina-contacto;
    // seccion header 
    header {
        grid-area: header;
        @extend %Logo;
    }
    
    // seccion main 
    main {
        grid-area: main;
        h1 {
            position: absolute;
            top: 7rem;
            left: 9rem;
            color: $color-texto;
            @extend %z-index;
            @include text-shadow;
        }
        @extend %width-img;
        .btn-container-contacto {
            position: absolute;
            top: 12rem;
            left: 10rem;
            @extend %z-index;
            @extend %botones;
        }
    }

    // seccion social y formulario
    section {
        grid-area: section;
        display: flex;
        flex-direction: column;
        align-items: center;
        .section-social {
            grid-area: social;
            h2 {
                margin-top: 2rem;
            }
            .redes1 {
                @extend %redes-sociales;
            }
        }
        // seccion formulario 
        .formulario {
            grid-area: formulario;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 2rem;
            h2 {
                margin-top: 4rem;
            }
            .form {
                margin-top: 2rem;
            }
            .btn-enviar {
                @extend %botones;
                color: black;
            }
        }
    }
    
    // footer         
    footer {
        grid-area: footer;
        @include Footer;
    }
}


@media screen and (min-width:1024px) {
    /* PAGINA INDEX */
    /* contenedor de la home */
    .home {
        grid-template-areas: 
        "header header header header"
        "main main main main"
        "part1 part1 part1 part1"
        "part2 part2 part2 part2"
        "part3 part3 part3 part3"
        "part4 part4 part4 part4"
        "part5 part5 part5 part5"
        "footer footer footer footer";
        main {
            div {
                h1 {
                    left: 35rem;
                    text-shadow: 0 0 1rem rgba(0, 0, 0, 0.8);
                }
                .p-principal {
                    left: 30rem;
                    text-shadow: 0 0 1rem rgba(0, 0, 0, 0.8);
                }
                .p2-principal {
                    left: 27rem;
                    text-shadow: 0 0 1rem rgba(0, 0, 0, 0.8);
                }
                .img-principal {
                    height: 52rem;
                }
                .btn-container {
                    left: 35rem;
                }
            }
        }
        // seccion sobre mi
        .sobre-mi {
            position: relative;
            align-items: baseline;
            h4 {
                margin-top: 3rem;
                margin-bottom: 1rem;
                margin-left: 18rem;
            }
            div {
                img {
                    top: 2rem;
                    position: absolute;
                    right: 15rem;
                }
            }
            p {
                width: 30%;
                margin-left: 21rem;
            }
            div {
                margin-left: 21rem;
            }
        }
        // seccion experiencia 
        .experiencia {
            display: grid;
            grid-template-areas: 
            "h3"
            "p"
            "ul";
            h4 {
                grid-area: h3;
                margin-left: 20rem;
            }
            p {
                grid-area: p;
                width: 45rem;
                margin-left: 24rem;
            }
            ul {
                grid-area: ul;
                width: 45rem;
                margin-left: 24rem;
            }
        }
        // seccion proyectos 
        .proyectos {
            position: relative;
            align-items: baseline;
            height: 30rem;
            h4 {
                padding-left: 15rem;
                span {
                    color: yellowgreen; // se repite
                }
            }
            h5 {
                position: absolute;
                top: 5rem;        
                margin-left: 20rem;
            } 
            p {
                width: 20rem;
                top: 6rem;
                left: 22rem;
                position: absolute;
            }
            .carousel {
                margin-left: 45rem;
                width: 25rem;
                    .d-block {
                        height: auto;
                        width: auto;
                    }
                .image1 {
                    height: auto;
                    width: auto;
                }
            }
            .btn-ver-proyectos {
                position: absolute;
                top: 15rem;
                left: 21rem;
            }

            .btn-ver-mas-proyectos {
                display: block;
                border: 2px solid yellowgreen;
                position: absolute;
                top: 24rem;
                left: 45rem;
                margin-bottom: 3rem;
            }
        } 
        // seccion contactame 
        .contactame { 
            h4 {
               margin-top: 1rem;
            }
            p {
                width: 50rem;
                margin-top: 1rem;
            }
            .btn-contactame {
                margin-top: 1rem;
            }
        }
       

        
    
    }
    /* -------------- PAGINA SOBRE MI -------------- */
    .pagina-sobre-mi {
        main {
            h1 {
                top: 18rem;
                left: 38rem;
                text-shadow: 0 0 1rem rgba(0, 0, 0, 0.8);
            }
            div {
                .img-principal {
                    height: 52rem;
                }
            }
            p {
                top: 28rem;
                left: 30rem;
                width: 30rem;
                text-shadow: 0 0 1rem rgba(0, 0, 0, 0.8);
            }
        }
        // seccion descrpcion 
        .descripcion {
            p {
                margin-top: 1rem;
                width: 50rem;
            } 
        }
        //galeria
        .galeria {
            h2 {
                   text-align: center;
            }
           div {
               margin-left: .2rem;
                width: 90%;
                .img1-2 {
                    width: 25rem;
                }
                .img3-4 {
                    width: 25rem;
                }
                .img5-6 {
                    width: 25rem;
                }        
            }
        }
    }   
    /* ------  HTML EXPERIENCIA ------ */
    .html-experiencia {
        main {
            h1 {
                top: 18rem;
                left: 38rem;
                text-shadow: 0 0 1rem rgba(0, 0, 0, 0.8);
            }
            div {
                .img-principal {
                    height: 52rem;
                }
            }
            p {
                top: 28rem;
                left: 30rem;
                width: 30rem;
                text-shadow: 0 0 1rem rgba(0, 0, 0, 0.8);
            }
        }
        // seccion exp1 
        .experiencia-Uno {
            flex-direction: row;
            align-items: flex-start;
            h2 {
                font-weight: bold;
                padding-top: 3rem;
                margin-left: 2rem;
            }
            p {
                margin-top: 0;
                margin-left: 2rem;
                padding-top: 4rem;
                width: 30rem;
            }
            div {
                img {
                    width: 20rem;
                    top: 2rem;
                    left: 60rem;
                    border: 2px solid;
                }
            }
        }

        // seccion exp2 
        .experiencia-Dos {
            flex-direction: row;
            align-items: flex-start;
            h2 {
                font-weight: bold;
                padding-top: 3rem;
                margin-left: 2rem;
            }p {
                margin-top: 0;
                padding-top: 4rem;
                margin-left: 3rem;
                width: 30rem;
            }
            div {
                img {
                    width: 20rem;
                    top: 2rem;
                    left: 60rem;
                    border: 2px solid;
                }
            }
        }

        .redes-exp {
            margin-top: 2rem;
        }
            
    }
    /* PAGINA PROYECTO */
    .pagina-proyectos {
        main {
            h1 {
                top: 18rem;
                left: 38rem;
            }
            p {
            top: 28rem;
            left: 29rem;
            width: 30rem;
            text-shadow: 0 0 1rem rgba(0, 0, 0, 0.8);
            }
        }
        .p-importantes {    
            align-items: baseline;
            position: relative;
            height: 24rem;
            h2 {
                margin-top: 2rem;
                margin-left: 5rem;
            }  
            p {
                position: absolute;
                top: 8rem;
                left: 8rem;
                width: 30rem;
            }
            .img-proyectos-importantes {
                position: absolute;
                right: 5rem;
                width: 30rem;
            }
            .btn-proyectos-importantes {
                top: 14rem;
                left: 8rem;
                position: absolute;
            }
        }
        .otros-proyectos {
            .imp1 {
                gap: 1rem;
            }
            .imp2 {
                gap: 1rem;
            }
        }
    }
    /* ------  HTML CONTACTO ------ */ 
    .pagina-contacto {
        main {
            h1 {
                top: 18rem;
                left: 38rem;
            }
            div {
                img {
                    height: 52rem;
                }
            }
            .btn-container-contacto {
                top: 28rem;
                left: 41rem;
            }
        }

        // seccion social 
        .section-social {
             h2 {
                margin-top: 4rem;
            }

            .redes1 {
                margin-top: 1rem;
                .bi-instagram {
                    font-size: xx-large;
                    margin: 1rem;
                }
                .bi-github {
                    font-size: xx-large;
                    margin: 1rem;
                }
                .bi-twitter {
                    font-size: xx-large;
                    margin: 1rem;
                }
            }

            .redes2 {
                margin-top: 1rem;
                .bi-linkedin {
                    font-size: xx-large;
                    margin: 1rem;
                }
                .bi-facebook {
                    font-size: xx-large;
                    margin: 1rem;
                }
            }        
        }
        // seccion formulario 
        .btn-enviar {
            border: 2px solid #9acd32;
            width: 6rem;  
            background-color: #9acd32;
        }
    }
}


