/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'M PLUS Code Latin', sans-serif;



@import "base/mixins";
@import "base/variables";
@import "base/extend";
@import "base/media.scss";

// mobile first 480px
/* ESTILO DE LA PAGINA INDEX */
.home {
    @include home;
    // header
    header { 
        grid-area: header;
        @extend %Logo;
    }
    // main 
    main {
        grid-area: main;
        position: relative;
        .p-principal {
            position: absolute;
            top: 30%;
            left: 8rem;
            font-style: italic;
            color: $color-texto;
            @extend %z-index;
            @include text-shadow;
        }
        h1 {
            position: absolute;
            top: 45%;
            left: 8.5rem;
            color: $color-texto;
            @extend %z-index;
            @include text-shadow;
        }
        .p2-principal {
            position: absolute;
            top: 65%;
            left: 1.3rem;
            font-style: italic;
            color: $color-texto;
            @extend %z-index;
            @include text-shadow;
        }
        @extend %width-img;
        .btn-container {
            position: absolute;
            top: 80%;
            left: 7.5rem;
            @extend %botones;
            a {
                @include font-weight;
            }
        }
       
    }
    @extend %sombra-img;
    // Seccion sobre mi 
    .sobre-mi {
        grid-area: part1;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 1rem;
        h4 {
            @include font-weight;
            margin-bottom: 1rem;
            span {
                color: $color-general;
            }
        }
        p {
            width: 25rem;
        }
        div {
            margin-top: 1rem;
            display: flex;
        }
        div {
            img {
                width: 16rem;
                border-radius: 10rem;
                @include box-shadow;
            }
        }
    
    }    
    // seccion experiencia 
    .experiencia {
        grid-area: part2;
        display: flex;
        flex-direction: column;
        align-items: center;
        h4 {
            @include font-weight;
            span {
                color: $color-general; 
            }
        }
        p {
            margin-top: 1rem;
        }
        ul {
            width: 25rem;
        }
    }
    // seccion proyectos 
    .proyectos {
        grid-area: part3;
        display: flex;
        flex-direction: column;
        align-items: center;
        h4 {
            @include font-weight;
        }
        .carousel {
            width: 25rem;
            margin-top: 1rem;
            margin-bottom: 2rem;
            .d-block {
                height: 19rem;
                width: auto;
            }
        }
        h5 {
            @include font-weight; 
            margin-left: 1.5rem;
            span {
                color: $color-general;
            }
        }
        p {
            margin-top: 1rem;
            width: 25rem;
        }
        .btn-ver-proyectos {
            @extend %botones;
        }
        .btn-ver-mas-proyectos {
            display: none;
        }
        @extend %btn:hover;
    }
    // seccion contactame
    .contactame {
        grid-area: part4;
        display: flex;
        flex-direction: column;
        align-items: center;
        h4 {
            @include font-weight;
            span {
                color: $color-general;
            }
        }
        h5 {
            color: $color-general;
            @include font-weight;
            margin-top: 1rem;
        }
        p {
            width: 25rem;
        }
        .btn-contactame {
            @extend %botones;
            margin-top: 1rem;
        }
    }
    // seccion redes sociales 
    .redes-sociales {
        grid-area: part5;
        @include redes-sociales;
        @extend %redes-sociales;
    }
    // footer        
    footer {
        grid-area: footer;
        @include Footer;
    }

}






/* ------  HTML SOBRE MI ------ */
.pagina-sobre-mi {
    @include pagina-sobre-mi;
    // seccion header 
    header {
        grid-area: header;
        @extend %Logo;
    }
    // seccion main 
    main {
        position: relative;
        grid-area: main;
        h1 {
            position: absolute;
            top: 10rem;
            left: 12rem;
            color: $color-texto;
            @extend %z-index;
            @include text-shadow;
        }
        @extend %width-img;
    }
    @extend %sombra-img;
    // seccion descrpcion
    .descripcion {
        grid-area: p1;
        display: flex;
        flex-direction: column;
        align-items: center;
        p {
            margin-top: 1rem;
            width: 25rem;
        }
        
    }
    // seccion galeria 
    .galeria {
        grid-area: img;
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        div {
            width: 30rem;
        }
    }
    // seccion redes sociales 
   
    .redes-sociales { 
        grid-area: redes;
        @include redes-sociales;
        @extend %redes-sociales;
    }
    // footer       
    footer {
        grid-area: footer;
        @include Footer;
    }
}



/* ------  HTML EXPERIENCIA ------ */
.html-experiencia {
    @include html-experiencia;
    // seccion header 
    header {
        grid-area: header;
        @extend %Logo;
    }
    // main 
    main {
        position: relative;
        grid-area: main;
        h1 {
            position: absolute;
            top: 8rem;
            left: 10rem;
            color: $color-texto;
            @extend %z-index;
            @include text-shadow;
        }
        p {
            position: absolute;
            top: 12rem;
            left: 4.5rem;
            width: 20rem;
            text-align: center;
            font-style: oblique;
            color: $color-texto;
            @extend %z-index;
            @include text-shadow;
        }
        @extend %width-img;
    }
    @extend %sombra-img;
    // seccion exp1 
    .experiencia-Uno {
        grid-area: exp1;
        @include parrafos-exp;   
        
    }
    // seccion exp2 
    .experiencia-Dos {
        grid-area: exp2;    
        @include parrafos-exp; 
    }   
    // seccion redes sociales  
   
    .redes-sociales {
        grid-area: redes;
        @include redes-sociales;
        @extend %redes-sociales;
    }
    // footer         
    footer {/* global */
        grid-area: foot;
        @include Footer;
    }
}






/* ------------ PAGINA PROYECTO -------------- */
.pagina-proyectos {
    @include pagina-proyectos;
    // seccion haeader
    header {
        grid-area: header;
        @extend %Logo;
    }
    main {
        position: relative;
        grid-area: main;
        h1 {
            position: absolute;
            top: 8rem;
            left: 10rem;
            color: $color-texto;
            @extend %z-index;
            @include text-shadow;
        }
        p {
            position: absolute;
            top: 12rem;
            left: 4.5rem;
            width: 20rem;
            text-align: center;
            color: $color-texto;
            @extend %z-index;
            @include text-shadow;
        }
        @extend %width-img;
    }
    @extend %sombra-img;
// seccion Proyecto importante 
    .p-importantes {
        grid-area: part1;
        display: flex;
        flex-direction: column;
        align-items: center;
        h2 {
            margin-top: 2rem;
            @include font-weight;
            span {
                color: $color-general;
            }
        }
        p {
            margin-top: 1rem;
            width: 25rem;
        }
        div {
            img {   
                border: 1px solid;
                width: 25rem;
                height: auto;
            }
        }
        div {
            a {
                @extend %botones;
                margin-top: 1rem;
                color: black;
            }
        }
    }
//  seccion otros-proyectos 
    .otros-proyectos {
        grid-area: part2;
        display: flex;
        flex-direction: column;
        align-items: center;
        h2 {
            @include font-weight;
            margin-top: 4rem;
            span {
                color: $color-general;
            }
        }
        h3 {
            @include font-weight;
            margin-top: 1rem;
        }
        div {
            .imp1 {
                display: flex;
                flex-direction: column;
                align-items: center;
                .card {
                    margin: 1rem;
                    display: flex;
                    align-items: center;
                    @extend %btn-card;
                }
            }      
        }
        div {
            .imp2 {
                display: none;
                .card {
                    margin: 1rem;
                    display: flex;
                    align-items: center;
                    @extend %btn-card;
                }
            }            
        }
        .btn-otros-proyectos {
            .btn {
                width: 10rem;
                margin-top: 2rem;
                margin-bottom: 5rem;  
                @extend %botones;
                color: black;
            }
        }
    }
    //seccion redes sociales
    .redes-sociales {
        grid-area: redes;
        @include redes-sociales;
        @extend %redes-sociales;
    }
    // footer         
    footer {
        grid-area: footer;
        @include Footer;
    }

}

/* ------  HTML CONTACTO ------ */
.pagina-contacto {
    @include pagina-contacto;
    // seccion header 
    header {
        grid-area: header;
        @extend %Logo;
    }
    
    // seccion main 
    main {
        position: relative;
        grid-area: main;
        h1 {
            position: absolute;
            top: 7rem;
            left: 9rem;
            color: $color-texto;
            @extend %z-index;
            @include text-shadow;
        }
        @extend %width-img;
        .btn-container-contacto {
            position: absolute;
            top: 12rem;
            left: 10rem;
            @extend %z-index;
            @extend %botones;
        }
        @extend %width-img;
    }
    @extend %sombra-img;

    // seccion social y formulario
    section {
        grid-area: section;
        display: flex;
        flex-direction: column;
        align-items: center;
        .section-social {
            grid-area: social;
            h2 {
                margin-top: 2rem;
            }
            .redes1 {
                @extend %redes-sociales;
            }
        }
        // seccion formulario 
        .formulario {
            grid-area: formulario;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 2rem;
            h2 {
                margin-top: 4rem;
            }
            .form {
                margin-top: 2rem;
            }
            .btn-enviar {
                @extend %botones;
                color: black;
            }
        }
    }
    
    // footer         
    footer {
        grid-area: footer;
        @include Footer;
    }
}

@include mediaqueri-1024px;

}