/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'M PLUS Code Latin', sans-serif;

// import de hojas secundarias
@import "base/mixins";
@import "base/variables";
@import "base/extend";
@import "base/media.scss";

// mobile first 480px
// ------  PAGINA DE INICIO ------ 
.home {
    // aplicacion de grid
    @include home;
  // ------  seccion header ------
    header { 
        grid-area: header;
        @extend %Logo;
    }
  // ------  seccion main ------
    main {
        grid-area: main;
        position: relative;
        .p-principal {
            position: absolute;
            top: 30%;
            left: 8rem;
            font-style: italic;
            color: $color-texto;
            @extend %z-index;
            @include text-shadow;
        }
        h1 {
            position: absolute;
            top: 45%;
            left: 8.5rem;
            color: $color-texto;
            @extend %z-index;
            @include text-shadow;
        }
        .p2-principal {
            position: absolute;
            top: 65%;
            left: 1.3rem;
            font-style: italic;
            color: $color-texto;
            @extend %z-index;
            @include text-shadow;
        }
        @extend %width-img;
        .btn-container {
            position: absolute;
            top: 80%;
            left: 7.5rem;
            @extend %botones;
            a {
                @include font-weight;
            }
        }
       
    }
    // aplicando un sombreado a la imagen principal 
    @extend %sombra-img;
  // ------  seccion sobre mi ------
    .sobre-mi {
        grid-area: part1;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 1rem;
        h4 {
            @include font-weight;
            margin-bottom: 1rem;
            span {
                color: $color-general;
            }
        }
        p {
            width: 25rem;
        }
        div {
            margin-top: 1rem;
            display: flex;
        }
        div {
            img {
                width: 16rem;
                border-radius: 10rem;
                @include box-shadow;
            }
        }
    
    }    
  // ------  seccion experiencia ------
    .experiencia {
        grid-area: part2;
        display: flex;
        flex-direction: column;
        align-items: center;
        h4 {
            @include font-weight;
            span {
                color: $color-general; 
            }
        }
        p {
            margin-top: 1rem;
        }
        ul {
            width: 25rem;
        }
    }
  // ------  seccion proyectos ------
    .proyectos {
        grid-area: part3;
        display: flex;
        flex-direction: column;
        align-items: center;
        h4 {
            @include font-weight;
        }
        .carousel {
            width: 25rem;
            margin-top: 1rem;
            margin-bottom: 2rem;
            .d-block {
                height: 19rem;
                width: auto;
            }
        }
        h5 {
            @include font-weight; 
            margin-left: 1.5rem;
            span {
                color: $color-general;
            }
        }
        p {
            margin-top: 1rem;
            width: 25rem;
        }
        .btn-ver-proyectos {
            @extend %botones;
        }
        .btn-ver-mas-proyectos {
            display: none;
        }
        @extend %btn:hover;
    }
  // ------  seccion contactame ------
    .contactame {
        grid-area: part4;
        display: flex;
        flex-direction: column;
        align-items: center;
        h4 {
            @include font-weight;
            span {
                color: $color-general;
            }
        }
        h5 {
            color: $color-general;
            @include font-weight;
            margin-top: 1rem;
        }
        p {
            width: 25rem;
        }
        .btn-contactame {
            @extend %botones;
            margin-top: 1rem;
        }
    }
  // ------  seccion redes sociales ------ 
    .redes-sociales {
        grid-area: part5;
        @include redes-sociales;
        @extend %redes-sociales;
    }
  // ------  seccion footer ------        
    footer {
        grid-area: footer;
        @include Footer;
    }

}


// ------  PAGINA SOBRE MI ------
.pagina-sobre-mi {
    // aplicacion de grid
    @include pagina-sobre-mi;
  // ------  seccion header ------
    header {
        grid-area: header;
        @extend %Logo;
    }
  // ------  seccion main ------
    main {
        position: relative;
        grid-area: main;
        h1 {
            position: absolute;
            top: 10rem;
            left: 12rem;
            color: $color-texto;
            @extend %z-index;
            @include text-shadow;
        }
        @extend %width-img;
    }
    // aplicando sobra a la imagen princiapl
    @extend %sombra-img;
  // ------  seccion descripcion ------
    .descripcion {
        grid-area: p1;
        display: flex;
        flex-direction: column;
        align-items: center;
        p {
            margin-top: 1rem;
            width: 25rem;
        }  
    }
  // ------  seccion galeria ------
    .galeria {
        grid-area: img;
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        div {
            width: 30rem;
        }
    }
  // ------  seccion redes sociales ------
    .redes-sociales { 
        grid-area: redes;
        @include redes-sociales;
        @extend %redes-sociales;
    }
  // ------  seccion footer ------       
    footer {
        grid-area: footer;
        @include Footer;
    }
}


// ------  PAGINA EXPERIENCIA ------
.html-experiencia {
    // aplicacion de grid
    @include html-experiencia;
  // ------  seccion header ------
    header {
        grid-area: header;
        @extend %Logo;
    }
  // ------  seccion main ------
    main {
        position: relative;
        grid-area: main;
        h1 {
            position: absolute;
            top: 8rem;
            left: 10rem;
            color: $color-texto;
            @extend %z-index;
            @include text-shadow;
        }
        p {
            position: absolute;
            top: 12rem;
            left: 4.5rem;
            width: 20rem;
            text-align: center;
            font-style: oblique;
            color: $color-texto;
            @extend %z-index;
            @include text-shadow;
        }
        @extend %width-img;
    }
    // aplicando un sombreado a ala imagen principal
    @extend %sombra-img;
  // ------  seccion experiencia uno ------
    .experiencia-Uno {
        grid-area: exp1;
        @include parrafos-exp;   
        
    }
  // ------  seccion experiencia dos ------
    .experiencia-Dos {
        grid-area: exp2;    
        @include parrafos-exp; 
    }   
  // ------  seccion redes sociales ------
    .redes-sociales {
        grid-area: redes;
        @include redes-sociales;
        @extend %redes-sociales;
    }
  // ------  seccion footer ------
    footer {
        grid-area: foot;
        @include Footer;
    }
}


// ------  PAGINA PROYECTOS ------
.pagina-proyectos {
    // aplicacion de grid
    @include pagina-proyectos;
  // ------  seccion header ------
    header {
        grid-area: header;
        @extend %Logo;
    }
  // ------  seccion main ------
    main {
        position: relative;
        grid-area: main;
        h1 {
            position: absolute;
            top: 8rem;
            left: 10rem;
            color: $color-texto;
            @extend %z-index;
            @include text-shadow;
        }
        p {
            position: absolute;
            top: 12rem;
            left: 4.5rem;
            width: 20rem;
            text-align: center;
            color: $color-texto;
            @extend %z-index;
            @include text-shadow;
        }
        @extend %width-img;
    }
    // aplicando un sombreado a la imagen principal
    @extend %sombra-img;
  // ------  seccion proyectos importantes ------
    .p-importantes {
        grid-area: part1;
        display: flex;
        flex-direction: column;
        align-items: center;
        h2 {
            margin-top: 2rem;
            @include font-weight;
            span {
                color: $color-general;
            }
        }
        p {
            margin-top: 1rem;
            width: 25rem;
        }
        div {
            img {   
                border: 1px solid;
                width: 25rem;
                height: auto;
            }
        }
        div {
            a {
                @extend %botones;
                margin-top: 1rem;
                color: black;
            }
        }
    }
  // ------  seccion otros proyectos ------ 
    .otros-proyectos {
        grid-area: part2;
        display: flex;
        flex-direction: column;
        align-items: center;
        h2 {
            @include font-weight;
            margin-top: 4rem;
            span {
                color: $color-general;
            }
        }
        h3 {
            @include font-weight;
            margin-top: 1rem;
        }
        div {
            .imp1 {
                display: flex;
                flex-direction: column;
                align-items: center;
                .card {
                    margin: 1rem;
                    display: flex;
                    align-items: center;
                    @extend %btn-card;
                }
            }      
        }
        div {
            .imp2 {
                display: none;
                .card {
                    margin: 1rem;
                    display: flex;
                    align-items: center;
                    @extend %btn-card;
                }
            }            
        }
        .btn-otros-proyectos {
            .btn {
                width: 10rem;
                margin-top: 2rem;
                margin-bottom: 5rem;  
                @extend %botones;
                color: black;
            }
        }
    }
  // ------  seccion redes sociales ------
    .redes-sociales {
        grid-area: redes;
        @include redes-sociales;
        @extend %redes-sociales;
    }
  // ------  seccion footer ------         
    footer {
        grid-area: footer;
        @include Footer;
    }

}


// ------  PAGINA DE CONTACTO ------
.pagina-contacto {
    // aplicacion de grid
    @include pagina-contacto;
  // ------  seccion header ------
    header {
        grid-area: header;
        @extend %Logo;
    }
  // ------  seccion main ------
    main {
        position: relative;
        grid-area: main;
        h1 {
            position: absolute;
            top: 7rem;
            left: 9rem;
            color: $color-texto;
            @extend %z-index;
            @include text-shadow;
        }
        @extend %width-img;
        .btn-container-contacto {
            position: absolute;
            top: 12rem;
            left: 10rem;
            @extend %z-index;
            @extend %botones;
        }
        @extend %width-img;
    }
    // aplicando un sombreado a la imagen principal
    @extend %sombra-img;
  // ------  seccion SECTION ------
    section {
        grid-area: section;
        display: flex;
        flex-direction: column;
        align-items: center;
        .section-social {
            grid-area: social;
            h2 {
                margin-top: 2rem;
            }
            .redes1 {
                @extend %redes-sociales;
            }
        }
        // seccion formulario 
        .formulario {
            grid-area: formulario;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 2rem;
            h2 {
                margin-top: 4rem;
            }
            .form {
                margin-top: 2rem;
            }
            .btn-enviar {
                @extend %botones;
                color: black;
            }
        }
    }
  // ------  seccion footer ------
    footer {
        grid-area: footer;
        @include Footer;
    }
}



// ------  INCLUYENDO MEDIA QUERI ------
// MQ 768PX - TABLET
@include tablet-768px;

// MQ 1024px - Desktop
// para pantalla de 1366px 
@include mediaqueri-1024px;

}