
@mixin mediaqueri-1024px {
    @media screen and (min-width:1024px) {
    /* PAGINA INDEX */
    /* contenedor de la home */
    .home {
        grid-template-areas: 
        "header header header header"
        "main main main main"
        "part1 part1 part1 part1"
        "part2 part2 part2 part2"
        "part3 part3 part3 part3"
        "part4 part4 part4 part4"
        "part5 part5 part5 part5"
        "footer footer footer footer";
        main {
            div {
                h1 {
                    left: 35rem;
                    text-shadow: 0 0 1rem rgba(0, 0, 0, 0.8);
                }
                .p-principal {
                    left: 30rem;
                    text-shadow: 0 0 1rem rgba(0, 0, 0, 0.8);
                }
                .p2-principal {
                    left: 27rem;
                    text-shadow: 0 0 1rem rgba(0, 0, 0, 0.8);
                }
                .img-principal {
                    height: 52rem;
                }
                .btn-container {
                    left: 35rem;
                }
            }
        }
        // seccion sobre mi
        .sobre-mi {
            position: relative;
            align-items: baseline;
            h4 {
                margin-top: 3rem;
                margin-bottom: 1rem;
                margin-left: 18rem;
            }
            div {
                img {
                    top: 2rem;
                    position: absolute;
                    right: 15rem;
                }
            }
            p {
                width: 30%;
                margin-left: 21rem;
            }
            div {
                margin-left: 21rem;
            }
        }
        // seccion experiencia 
        .experiencia {
            display: grid;
            grid-template-areas: 
            "h3"
            "p"
            "ul";
            h4 {
                grid-area: h3;
                margin-left: 20rem;
            }
            p {
                grid-area: p;
                width: 45rem;
                margin-left: 24rem;
            }
            ul {
                grid-area: ul;
                width: 45rem;
                margin-left: 24rem;
            }
        }
        // seccion proyectos 
        .proyectos {
            position: relative;
            align-items: baseline;
            height: 30rem;
            h4 {
                padding-left: 15rem;
                span {
                    color: yellowgreen; // se repite
                }
            }
            h5 {
                position: absolute;
                top: 5rem;        
                margin-left: 20rem;
            } 
            p {
                width: 20rem;
                top: 6rem;
                left: 22rem;
                position: absolute;
            }
            .carousel {
                margin-left: 45rem;
                width: 25rem;
                    .d-block {
                        height: auto;
                        width: auto;
                    }
                .image1 {
                    height: auto;
                    width: auto;
                }
            }
            .btn-ver-proyectos {
                position: absolute;
                top: 15rem;
                left: 21rem;
            }

            .btn-ver-mas-proyectos {
                display: block;
                border: 2px solid yellowgreen;
                position: absolute;
                top: 24rem;
                left: 45rem;
                margin-bottom: 3rem;
            }
        } 
        // seccion contactame 
        .contactame { 
            h4 {
               margin-top: 1rem;
            }
            p {
                width: 50rem;
                margin-top: 1rem;
            }
            .btn-contactame {
                margin-top: 1rem;
            }
        }
       

        
    
    }
    /* -------------- PAGINA SOBRE MI -------------- */
    .pagina-sobre-mi {
        main {
            h1 {
                top: 18rem;
                left: 38rem;
                text-shadow: 0 0 1rem rgba(0, 0, 0, 0.8);
            }
            div {
                .img-principal {
                    height: 52rem;
                }
            }
            p {
                top: 28rem;
                left: 30rem;
                width: 30rem;
                text-shadow: 0 0 1rem rgba(0, 0, 0, 0.8);
            }
        }
        // seccion descrpcion 
        .descripcion {
            p {
                margin-top: 1rem;
                width: 50rem;
            } 
        }
        //galeria
        .galeria {
            h2 {
                   text-align: center;
            }
           div {
               margin-left: .2rem;
                width: 90%;
                .img1-2 {
                    width: 25rem;
                }
                .img3-4 {
                    width: 25rem;
                }
                .img5-6 {
                    width: 25rem;
                }        
            }
        }
    }   
    /* ------  HTML EXPERIENCIA ------ */
    .html-experiencia {
        main {
            h1 {
                top: 18rem;
                left: 38rem;
                text-shadow: 0 0 1rem rgba(0, 0, 0, 0.8);
            }
            div {
                .img-principal {
                    height: 52rem;
                }
            }
            p {
                top: 28rem;
                left: 30rem;
                width: 30rem;
                text-shadow: 0 0 1rem rgba(0, 0, 0, 0.8);
            }
        }
        // seccion exp1 
        .experiencia-Uno {
            flex-direction: row;
            align-items: flex-start;
            h2 {
                font-weight: bold;
                padding-top: 3rem;
                margin-left: 2rem;
            }
            p {
                margin-top: 0;
                margin-left: 2rem;
                padding-top: 4rem;
                width: 30rem;
            }
            div {
                img {
                    width: 20rem;
                    top: 2rem;
                    left: 60rem;
                    border: 2px solid;
                }
            }
        }

        // seccion exp2 
        .experiencia-Dos {
            flex-direction: row;
            align-items: flex-start;
            h2 {
                font-weight: bold;
                padding-top: 3rem;
                margin-left: 2rem;
            }p {
                margin-top: 0;
                padding-top: 4rem;
                margin-left: 3rem;
                width: 30rem;
            }
            div {
                img {
                    width: 20rem;
                    top: 2rem;
                    left: 60rem;
                    border: 2px solid;
                }
            }
        }

        .redes-exp {
            margin-top: 2rem;
        }
            
    }
    /* PAGINA PROYECTO */
    .pagina-proyectos {
        main {
            h1 {
                top: 18rem;
                left: 38rem;
            }
            p {
            top: 28rem;
            left: 29rem;
            width: 30rem;
            text-shadow: 0 0 1rem rgba(0, 0, 0, 0.8);
            }
        }
        .p-importantes {    
            flex-direction: row;
            align-items: baseline;
            position: relative;
            height: 24rem;
            h2 {
                margin-top: 2rem;
                margin-left: 5rem;
            }  
            p {
                position: absolute;
                top: 8rem;
                left: 8rem;
                width: 30rem;
            }
            .img-proyectos-importantes {
                position: absolute;
                right: 5rem;
                width: 30rem;
            }
            .btn-proyectos-importantes {
                top: 14rem;
                left: 8rem;
                position: absolute;
            }
        }
        .otros-proyectos {
            div {
                .imp1 {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                }            
            }
            div {
                display: block;
                .imp2 {
                    display: block;
                }            
            }
        }
    }
    /* ------  HTML CONTACTO ------ */ 
    .pagina-contacto {
        main {
            h1 {
                top: 18rem;
                left: 38rem;
            }
            div {
                img {
                    height: 52rem;
                }
            }
            .btn-container-contacto {
                top: 28rem;
                left: 41rem;
            }
        }

        // seccion social 
        .section-social {
             h2 {
                margin-top: 4rem;
            }

            .redes1 {
                margin-top: 1rem;
                .bi-instagram {
                    font-size: xx-large;
                    margin: 1rem;
                }
                .bi-github {
                    font-size: xx-large;
                    margin: 1rem;
                }
                .bi-twitter {
                    font-size: xx-large;
                    margin: 1rem;
                }
            }

            .redes2 {
                margin-top: 1rem;
                .bi-linkedin {
                    font-size: xx-large;
                    margin: 1rem;
                }
                .bi-facebook {
                    font-size: xx-large;
                    margin: 1rem;
                }
            }        
        }
        // seccion formulario 
        .btn-enviar {
            border: 2px solid #9acd32;
            width: 6rem;  
            background-color: #9acd32;
        }
    }
    }
}

